<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
      	<property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
      	<property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
      	<property name = "hibernate.connection.username">postgres</property>
      	<property name = "hibernate.connection.password">password</property>
      	
      	<property name = "connectoin.pool_size">1</property> <!-- Pool size -->
      	<property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- Dialect -->
      	<property name = "cache.provider_class">org.hibernate.cache.NoCacheProvider</property> <!-- Disable second level cache -->
      	<property name = "show_sql">true</property> <!-- SQL displayed to stdout -->
      	<property name = "hbm2ddl.auto">create</property> <!-- Drop and recreate db schema on startup  -->
      	<!-- <property name = "hbm2ddl.auto">update</property> Update schema on startup -->
      
      	<!-- List of XML mapping files -->
      	<!-- <mapping class="org.saurabh.demo.hibernate.dto.UserDetails"/> Names the annotated entity class -->
      	<!-- <mapping class="org.saurabh.demo.hibernate.dto.UserDetailsWithCollection"/> -->
      	<!-- <mapping class="org.saurabh.demo.hibernate.dto.UserDetailsOneToOne"/>  --> 
      	<!-- <mapping class="org.saurabh.demo.hibernate.dto.UserDetailsOneToMany"/> 
      	<mapping class="org.saurabh.demo.hibernate.dto.Vehicle"/>
      	<mapping class="org.saurabh.demo.hibernate.dto.UserDetailsManyToOne"/> 
      	<mapping class="org.saurabh.demo.hibernate.dto.VehicleManyToOne"/>
      	<mapping class="org.saurabh.demo.hibernate.dto.UserDetailsManyToMany"/> 
      	<mapping class="org.saurabh.demo.hibernate.dto.VehicleManyToMany"/> -->
      	<mapping class="org.saurabh.demo.hibernate.dto.UserDetailsCascade"/> 
      	<mapping class="org.saurabh.demo.hibernate.dto.VehicleCascade"/>
      	<!--  <mapping resource = "Employee.hbm.xml"/> -->
	</session-factory>
</hibernate-configuration>